

html{
	
	background: url("../images/shoppingcart.jpg") no-repeat center center fixed;
    background-size: cover;
}

.search{
	color: yellow;
	margin-top: 135px;
	margin-left: -100px;
	text-align: center;
}

.input{
	margin-top: 25px;
	width: 300px;
	height: 35px;
	font-size: 25px;
	color: maroon;
}

.listcontrol{
	height: 300px;
	width: 35px;
	text-align: center;
	background-color: yellow;
}

.add{
	font-size: 25px;
	border-color: black;		
}

.shoppinglist{
	background-color: yellow;
	color: black;
	font-size: 25px;
	height: 40px;	
	width: 45px;
	text-align: center;

}